[2018-05-04 21:18] LartTyler opened #44 "Armor pieces in `ArmorSet.pieces` are missing the fields added in 1.8.0 and 1.9.0"

[2018-05-09 03:13] stocky37 opened #50 "Skills that are not always active have no modifiers"
I believe skills that have modifiers that are not always active (for instance, affinity sliding or heroics) should contain their rank modifiers. It should be up to a consumer of the api to figure out whether or not those modifiers should actually be used (i.e. if simulating or assuming a particular skill is active).

Is there any particular reason that this is the case?

[2018-05-09 03:25] stocky37 opened #51 "Include full sharpness levels from mhwg.org"
Original question: Do you have any plans to parse mhwg.org for handicraft sharpness levels? If not, could you? :)

[2018-05-09 03:35] stocky37 opened #52 "Add resource for attacks"
Off the top of my head, something like the following would be useful:
[code]

[2018-05-09 04:09] LartTyler commented on #50
I left them empty for exactly that reason, because they're not always active. I've been meaning to change that, but I just haven't had a chance to. Ideally, I'd prefer not to add them in there without a way to indicate that they're inactive until certain conditions are met, but I'm really not sure what the best way to present that would be. Any thoughts?

[2018-05-09 04:14] LartTyler commented on #51
To clarify, you're referring to the values in the second to last column on this page (as an example): http://mhwg.org/data/4000.html. Correct? If so, I'll get it added to the backlog.

[2018-05-09 04:16] LartTyler commented on #52
That's a good idea. It looks like they're on Kiranico ([here, for example](https://mhworld.kiranico.com/guide/dual-blades#motion-values)), so I should be able to source it from there. I'll add it to the backlog, thanks!

[2018-05-09 04:24] stocky37 opened #53 "How to query for all weapon "final forms"?"
I was thinking of checking for anything with an empty "crafting.branches" array. Would that make sense?

In any case, I can't get any queries on the crafting field to work, I keep getting the following error:

[code]

with a simple query, like so:
[code]

Any ideas?

[2018-05-09 04:28] stocky37 commented on #51
I believe those values just show the min and max sharpness values, but not each individual level. If you head down into the individual weapon pages (e.g. [fire-and-ice](http://mhwg.org/ida/220822.html)) you'll notice the third column in the main table contains a bar for each handicraft level.

[2018-05-09 04:44] stocky37 commented on #50
That's a very good question. I'm not entirely sure.

The options I can think of are:

**a)** Don't worry about optional modifiers at all, leave it up to consumers
**b)** Implement a basic "optional" boolean as part of the modifier.
[code]
**c)** Specify *when* a particular value should apply
[code]

I think I'm more partial to Option A, but Option B could give you more flexibility in terms of modi

[2018-05-09 05:36] LartTyler commented on #53
The API should properly convert object checks (like what you're doing) to the right path, but it's possible something got messed up in a previous update that I missed. For the time being, you can do something like this:

[code]

In the morning, I'll take a look at it and get that fixed so you won't need to worry about a workaround.

[2018-05-09 05:43] LartTyler commented on #51
Aha! I understand now. Lemme think on this one, since they use a different scale for their bars (MWHDB represents each sharpness as a percentage of a max 100, theirs seems to cap at 160), but I think it's definitely worth representing somehow.

[2018-05-09 05:55] LartTyler commented on #50
From the standpoint of adding as much info as possible, I _really_ like C, but you're right, I'm not sure of a decent way to implement that. Maybe in a later version.

As far as your `optional` field in option B, I like that, but because of the way the modifiers are stored, doing so would break searching for that field.

Which leaves option A, which I'm not a huge fan of since I feel like it creat

[2018-05-09 06:35] stocky37 commented on #51
Awesome, cheers. No rush since I can work around it manually for the weapons I actually care about for now, but would definitely pretty sweet to have long term. For context I'm hoping to show the sharpness related to the handicraft skill level, so when making builds you can see how much sharpness you're actually getting.

[2018-05-09 06:39] stocky37 commented on #50
That definitely works if you want to keep it backwards compatible. I get where you're coming from in terms of Option C, but as a consumer you would still have to implement custom logic to handle each of the different types of "applies", so it seems a bit 6 of one, half a dozen of other to me. With Option B I'll still have to write the custom logic anyway so the modifierInfo won't really benefit me

[2018-05-09 12:36] stocky37 opened #55 "Add true attack values in the weapon resource"
The muted value next to the displayed attack value is the true attack value with the display modifier taken into account. This would save consumers from having to store display modifier values and calculate true raws themselves.

[2018-05-09 13:02] LartTyler commented on #55
I'm not sure what you're referring to, sorry. Are you talking about something on a site like Kiranico? The only thing I can think of is the value on the right side of the pipe in the "Attack" field on the weapon pages on Kiranico (i.e. [here](https://mhworld.kiranico.com/weapon/iron-katana-i)). Is that what you mean?

[2018-05-09 13:05] LartTyler commented on #50
I guess my reasoning was that if the `applies` field existed in the API, all you'd have to do as a consumer of the API is add logic for the values of applies. Otherwise, you still have to do that, AND you need to maintain a list of which skills apply under which circumstances.

Either way, the first step is going to be adding the modifiers for skills that aren't always on. Once that's in the API,

[2018-05-09 13:29] LartTyler commented on #55
No worries! I just wanted to double check that I assumed correctly. If it were up to you, how would you like to see that value represented? I already have plans to move `attributes.attack` up to the top level of the object (similar to what I recently did with `attributes.defense` on armor). I could do that and your requested change at the same time, yielding something like this.

[code]

So, inste

[2018-05-09 13:54] stocky37 commented on #55
I like it. The only thing I would maybe change would be to change the value property to something a little more descriptive. Maybe something like this:
[code]

As it stands the design is already perfectly useable so completely up to you.

[2018-05-09 14:06] LartTyler commented on #55
Calling it `display` works for me. I'll try to get that into the next release!

[2018-05-09 15:56] LartTyler commented on #53
This should be resolved now. Feel free to continue using the `crafting.id` field name, but queries against just `crafting` should work properly now.

[2018-05-09 20:12] LartTyler commented on #52
Before I get started on this, I noticed that some weapons have different motion values depending on their current sharpness (e.g. the ["Spirit Helm Breaker" move on long swords](https://mhworld.kiranico.com/guide/long-sword#motion-values)). What do you think would be the best way to represent that in the API?

[2018-05-10 03:44] LartTyler commented on #52
So here's what I've got so far.

[code]

Pretty much exactly what you used as an example in your original post, but with stun and exhaust potencies (when applicable). For the two issues I brought up earlier today, I decided to 1) list gauge based motion values separately (i.e. "Spirit Helm Breaker (White)" and "Spirit Helm Breaker (Yellow)" are two separate entities in the API, despite having iden

[2018-05-10 03:47] stocky37 commented on #52
I was literally just taking a look now at Spirit Helm Breaker and was thinking exactly what you've ended up with. I think it makes sense as an array of all possible hits since with every multi-move combo different hits could hit or miss so it could be argues that all the motion values are already *optional*.

[2018-05-10 04:11] stocky37 commented on #53
Looks like queries are working fine with the `crafting` field now. Now I'm just struggling to figure out a way to actually query that the branches array is empty. So far I've tried the following queries to no avail:

[code]
Doesn't work since `dbstudios/doctrine-query-document` has not implemented the `$size` operator

[code]
Obviously finds all weapons since branches exists since it's defined as

[2018-05-10 04:29] LartTyler commented on #53
I was actually thinking about that earlier today, while I was fixing the field resolution error you were encountering initially. You're right, the library doesn't have an implementation of `$size`, nor does it support anything that'd allow you to find objects whose `crafting.branches` field is empty.

Tomorrow morning, I'll see what I can do to make your initial example of `{"crafting.branches":{"

[2018-05-10 15:14] bolte-17 commented on #51
I suspect mhwg is more accurate. The true scale is also shown a bit on mhwg- each rank of handicraft adds 10 units of sharpness in game terms (good for 10 hits normally). I believe each bar section is also a multiple of 10- 1px differences on kiranico's bars are just an artifact.

The mhwg bars are 160px wide instead of 100 and seem to be at a constant 4px : 10 sharpness ratio. So something like A

[2018-05-10 23:58] LartTyler commented on #53
@stocky37 This was a fun one to resolve. Instead of adding a `$size` operator to the library, I ended up making it possible to simply append `.length` to any field that's an array of related objects. So, to achieve what you were trying to do, you would use [/weapons?q={"crafting.branches.length": 0}](https://mhw-db.com/weapons?q={"crafting.branches.length":0}).

As I mentioned, this will work for

[2018-05-11 00:00] stocky37 commented on #53
Awesome, that sounds like a neat workaround. Thanks a lot!

[2018-05-11 00:10] #53 closed

[2018-05-11 13:27] LartTyler commented on #51
@bolte-17 I see what you're saying, thanks for the info. However, there's one thing I'm not quite wrapping my head around, but maybe I'm just missing something.. How would adding just starting total sharpness provide all the information you'd need? Wouldn't I need to store sharpness at each handicraft level? As far as I can tell, there's no rhyme or reason to when handicraft stops increasing the w

[2018-05-11 14:06] stocky37 commented on #51
I think @bolte-17 is on to something. Assuming a weapon has 400 total sharpness (the number doesn’t really matter for the example), then it looks like each particular weapon has “breakpoints” if you will for when it reaches a particular level of sharpness, and those breakpoints are the same no matter what level of handicraft.

So say we have a weapon that has the following breakpoints:
‘’’
{
  “re

[2018-05-11 19:32] bolte-17 commented on #51
It looks like most fully-upgraded weapons do fill the bar with handicraft 5, exceptions being weapons like Nerg and Odo's which naturally have full bar and do not benefit from handicraft.

I don't believe handicraft 5 will fill the bar fully on unupgraded weapons, though.

[2018-05-11 19:41] bolte-17 commented on #51
Ah, I think I understand the confusion now. You would need the starting total sharpness value in addition to either the sharpness breakpoints (@stocky37's example) or the sharpness-per-tier values (My Jho GS example)

[2018-05-11 19:43] bolte-17 commented on #51
I think I like the breakpoints format more. Easier to work with to answer "what tier am I in" and "how much handicraft to get the next tier"

[2018-05-11 20:09] bolte-17 commented on #50
One or two additional suggestions: I think `conditional` might be a better word than `optional` in this context, and I actually like the "applies" idea. I could see some value in being able to get a list of conditions (or even a list of conditions used by the character's current skills) and, for example, rendering a list of checkboxes for the user to toggle on/off. Or even sliders for the user to

[2018-05-11 20:16] LartTyler commented on #50
Yeah, that's kinda what I was thinking. For the time being, I'm gonna plan on adding the conditionally active skills to the list of modifiers, as if they were just normal modifiers (like what @stocky37 was originally asking for). Once they're in there, I'm gonna revisit this and decide on how I wanna implement the conditional / "applies" idea.

[2018-05-12 09:43] stocky37 commented on #50
Sounds like a plan!

[2018-05-12 21:59] LartTyler commented on #55
This has been added with the release of [v1.11.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.11.0).

[2018-05-12 21:59] #55 closed

[2018-05-12 22:00] LartTyler commented on #52
This has been added with the release of [v1.11.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.11.0).

[2018-05-12 22:00] #52 closed

[2018-05-13 05:33] TanukiSharp commented on #51
Is there a way to help ? I'm not found of PHP but I could make a tool to massively extract sharpness data from mhwg.org and produce a JSON for you (@LartTyler) to easily integrate in the DB.

[2018-05-13 05:36] TanukiSharp opened #61 "Skill Carving Master is missing"
The skill `Carving Master` is missing from the the `/skills` API.
This skill is an armor set skill and is bestowed by the `Commision` armor, available once one get a `Research Commision Ticket`. Here is the info how to obtain this ticket: https://monsterhunterworld.wiki.fextralife.com/Research+Commission+Ticket

The skill activates with 4 armor pieces.

[2018-05-13 06:43] stocky37 commented on #51
I haven't seen one that does.

That's pretty much exactly what I was going for. Both would work perfectly fine but breakpoints should mean less calculations required for most use cases.

[2018-05-13 07:29] LartTyler commented on #61
Hmm.. Yeah, it's definitely not there, not even under a different name or a misspelling. The skill list is pulled from Kiranico, and it looks like Carving Master isn't on there either. Thanks for pointing this out!

[2018-05-13 07:37] LartTyler commented on #51
I think the breakpoints idea is gonna be the way to go. @TanukiSharp, as far as helping out goes, a JSON dump of the breakpoints would be awesome. If you plan on creating a tool to do so, I'm sure there's some way we could incorporate it into the API's scraping process (i.e. a script that compiles the data into a JSON file, which can then be imported during scraping).

[2018-05-13 07:39] stocky37 commented on #61
On a similar note, the affinity value for the fire and ice dual blades is also missing. Looks like a similar problem where Kiranico have it wrong on there.

[2018-05-13 07:42] LartTyler commented on #61
Gotcha, I'll get that updated as well.

[2018-05-13 12:26] TanukiSharp commented on #51
What is the "API scraping process" ?

I was thinking about creating a small C# tool (and put the code on GitHub) that queries the HTML pages, parses stuffs, get images, extracts values and outputs usable data. This process might be a bit long, requests intensive and efficiency will heavily rely on availability of the mhwg.org hosting service, so something that better be done offline.

Anyway, I wi

[2018-05-13 22:31] LartTyler commented on #51
The "scraping process" that I'm referring to is a bunch of code that scrapes data from places like Kiranico and Fextralife. This is done periodically and at release time on a dedicated staging machine, at which point a new database snapshot is taken and stored in the `/snapshots` directory, which is then loaded into the production database.

As far as structure goes, option B is gonna be the best

[2018-05-14 01:35] TanukiSharp commented on #51
Got it. Last question, do you prefer me to put the tool in my repo and you can reference it, or should I clone this repo, put the tool there and make a PR ?

[2018-05-14 02:55] LartTyler commented on #51
In it's own repository would be best. Thanks!

[2018-05-14 04:40] TanukiSharp opened #62 "Add a 'p' argument to HTTP requests for Mongo projection"
As the `q` argument, it would be great to have a `p` argument to project result data.
The benefit is great for tool developers to pre-filter what they don't need instead of processing it locally, and for you to save bandwidth consumption (not sure how this is billed, but anyway it is always good to avoid wasting resources).

I tried to provide a `p` argument but this seemed to not work. Since it i

[2018-05-15 15:24] stocky37 opened #63 "Invalid CORS header response"
I can no longer access the api through front-end web applications. The response appears to have an invalid `Access-Control-Allow-Origin` header. The error in Chrome is:
[code]

It looks like the header is empty. Pretty sure it's also supposed to contain a wildcard as the rest of the CORS headers have one:
[code]

[2018-05-15 15:25] LartTyler commented on #62
Before I finalize these changes, I'd love to get some feedback. I'm currently planning on implementing projection in the same way that Mongo does. For example:

[code]

If applied to the `/skills` endpoint, the above would cause only the "id", "name", and "description" field to be returned. To exclude fields, you would do the following.

[code]

Again, applied to the `/skills` endpoint, the above

[2018-05-15 15:27] LartTyler commented on #63
Thanks for letting me know. I'm looking into it now, I'll let you know when it's resolved.

[2018-05-15 15:44] LartTyler commented on #63
@stocky37 It should be working now. Can you confirm that things are fixed on your end as well? Please clear your cache before doing so, just to be safe.

[2018-05-15 16:27] TanukiSharp commented on #62
Looks good, just make sure `_id: true` gets rejected if present and should be good to go.
Some tools make the double quotes around properties optional, that would be great if you could support that but definitely a very low priority bonus.

[2018-05-16 01:45] TanukiSharp commented on #51
Quick report, I'm making good progress on the tool, I think I can get a prototype working by tomorrow at best, this week-end at worst.

Since mhwg.org has weapon names in Japanese only and I don't want to maintain a mapping between mhwg.org weapons names and mhw-db.com weapon ids, I parse as many info as I can from mhwg.org and fetch weapons from mhw-db.com at the same time, and then automatically

[2018-05-16 03:03] stocky37 commented on #51
If we're going with value set B (the breakpoints), you've got the values wrong. The numbers there are supposed to represent where the sharpness levels *start*. So the example out of 160 should be:
[code]
I think we should also be storing the sharpness values out of 400 so we can do direct calculations rather than out of 160. We can just multiply by 2.5, so given the above we'd end up with:
[code]

[2018-05-16 12:25] TanukiSharp commented on #51
That makes 2 questions to answer then:
1) Why storing the red, since it will always start to 0
2) How do you know where the white ends ?

[2018-05-16 12:29] stocky37 commented on #51
Good point, you wouldnt need to store red.
As for the second question, I’ve only been thinking about final weapons so it hadn’t occurred to me that weapons wouldnt fill out to max sharpness. Maybe we do need to store where each sharpness level finishes instead.

[2018-05-16 12:33] TanukiSharp commented on #51
Yes, so I guess I don't need to change anything, just apply a multiplier, out of 400 is fine to me. I think I never saw two data sources giving the same standard max range, so whatever value will do.

[2018-05-16 13:27] #63 closed

[2018-05-16 15:14] LartTyler commented on #62
@TanukiSharp This is now available in [v1.12.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.12.0). Full usage documentation can be found [here](https://docs.mhw-db.com/#projecting-results).

[2018-05-16 15:14] #62 closed

[2018-05-18 07:12] TanukiSharp commented on #51
The base tool to fetch mhwg.org is done. As I said, it also fetches weapons data from mhw-db.com in order to find matches. Here is a very quick report:

- mhwg.org contains 974 sharpness-aware weapons
- mhw-db.com contains 935 sharpness-aware weapons (-39)
- there are only 662 matching weapons between the two data sources (intersect)

I will try to give you such report per weapon type tonight or t

[2018-05-18 07:29] TanukiSharp commented on #51
Actually I had time to write a quick query, and here is the results split per weapon type:

| Weapon type | mhwg.org | mhw-db.com | Diff | Intersect |
| --- | --- | --- | --- | --- |
| GreatSword | 95 | 92 | -3 | 67 |
| LongSword | 87 | 83 | -4 | 62 |
| SwordAndShield | 97 | 94 | -3 | 70 |
| DualBlades | 88 | 85 | -3 | 64 |
| Hammer | 89 | 86 | -3 | 66 |
| HuntingHorn | 90 | 87 | -3 | 0 |
| Lance

[2018-05-18 07:30] stocky37 commented on #63
@LartTyler it's all good for those endpoints but now it's happening again for `/motion-values`

[2018-05-18 08:27] TanukiSharp commented on #51
OK, I found some bugs in my code, fixed them and now reached 842 matching weapons between the two data sources.

Anyway, I also found a way to easily found mistakes in the data, so I will run this in parallel with the game to find out from which data source the mistakes come from, and will post again. (this week-end)

[2018-05-18 13:43] LartTyler commented on #63
@stocky37 Sorry for the slow response. I'm not seeing this happening on my end. Can you confirm that you're still having this issue?

[2018-05-18 13:47] LartTyler commented on #51
@TanukiSharp As far as output is concerned, a JSON array containing objects that include the MHWDB weapon IDs and the sharpness breakpoints would probably be the easiest to work with. But any output should be fine, so long as it's clear what all the values are.

[2018-05-18 16:11] stocky37 commented on #63
All good it looks fine from here now too.

[2018-05-20 07:25] TanukiSharp commented on #51
OK for the output format.

Here is the list of all the differences I found. I checked all those difference one by one manually with the game in order to confirm they are real mistakes. In the process, I found 3 mistakes in mhwg.org which I will report too right away.

Do you mind fixing them all before I can proceed to extract the sharpness ?

Thanks a lot.

---

**GreatSword**

Buster Blade 3 (id

[2018-05-20 15:28] TanukiSharp commented on #51
Here is a first prototype that "works on my machine": https://github.com/TanukiSharp/MHWSharpnessExtractor
Let me know if you need help to make it work, or if you prefer me to generate the sharpness JSON file for you.

[2018-05-21 17:46] LartTyler commented on #51
@TanukiSharp It'll take me a while to get through all of that incorrect data, but it definitely needs to be fixed. Thank you for taking the time to find all of that. I'm going to open a separate issue dedicated to resolving those errors, as it's a bit of a bigger issue, as most of that information is being pulled from Kiranico, and needs to come from a different source if it's that wrong.

[2018-05-21 17:48] LartTyler opened #65 "Fix large amounts of incorrect information being pulled from Kiranico"
**Taken from @TanukiSharp's analysis of API data in #51.**

---

**GreatSword**

Buster Blade 3 (id: 6)
- slot should be '1--' but is '---'

Jagras Hacker 1 (id: 23)
- element 1 should be '(Water 210)' but is '(Ice 210)'

Jagras Hacker 2 (id: 24)
- element 1 should be '(Water 240)' but is '(Ice 240)'

Jagras Hacker 3 (id: 25)
- element 1 should be '(Water 300)' but is '(Ice 300)'

Gnashing Flammen

[2018-05-22 04:06] TanukiSharp commented on #65
The source is `mhwg.org`, not `kiranico`.

[2018-05-23 12:38] TanukiSharp opened #66 "Maintenance decoration missing"
- API: `/decorations`
- Decoration: `Maintenance Jewel 1`

[code]

[2018-07-19 08:44] Dazorn96 opened #67 "Image permission error from weapons"
A lot of images (**assets.image**) from _weapons objects_ return **403 Permission Denied** error.
Thanks :)

[2018-07-19 14:30] LartTyler commented on #67
I checked a few, and wasn't able to recreate the issue you're having. Can you send me API links for a few weapons that you've noticed this happening for?

[2018-07-19 14:33] Dazorn96 commented on #67
This is the error i am getting:
![image](https://user-images.githubusercontent.com/10536581/42949116-571c4b14-8b71-11e8-806a-d5bd291108e8.png)
Example: https://assets.mhw-db.com/weapons/great-sword/ef4937214b610b35b945bc4906f96181c600d0b0.1b059957e9d5f1a76227303d5ce7e5ae.png

[2018-07-21 17:09] HumbertoMendes opened #68 "Vagrant plugin issue"
Hey Tyler,

This may sound super silly but if you run "vagrant plugin install vagrant-vbguest" on the root directory, it'll throw an error, preventing the required plugin to be installed because it requires said plugin.

[code]

It's just a heads up, maybe you should check if the command being ran is the installation of vagrant-dbguest.

[2018-08-09 06:33] sero-dev opened #70 "Need more item information"
Not to be the one to complain about something so great, but is there a way you can add a little more fluff to the item objects. Perhaps the locations that they can be farmed or quest lines that the items can drop from.

Not sure how you would obtain that but I like using the database. I use it for a Discord bot and its been great content.

[2018-08-09 17:39] LartTyler commented on #70
It's definitely something I wanted to add, I just haven't had time to. Before I add it, I need to get zone and monster data into the API, which is one of the things I'd like to get started on next. Once I've got those, I plan on linking items to the zones they can be found in, or the monsters that drop them.

[2018-08-09 17:41] sero-dev commented on #70
Thanks! Great stuff, man.

[2018-08-22 00:48] LartTyler commented on #65
This is resolved in [v1.13.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.13.0).

[2018-08-22 00:48] #65 closed

[2018-08-22 00:49] LartTyler commented on #61
This should (finally!) be resolved in [v1.13.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.13.0).

[2018-08-22 00:49] #61 closed

[2018-08-22 00:50] LartTyler commented on #51
Full sharpness values are now available in the API in [v1.13.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.13.0).

[2018-08-22 00:50] #51 closed

[2018-08-22 04:37] yoonhok524 opened #76 "Armor images are not accessible."
Here is the "Leather Helm"'s image.
When I call it, "Access Deny" message is shown.

https://assets.mhw-db.com/armor/0c3c7586ed8b763a29b0fb6cb1b11518.e5f105b7b926b37b9deb7261b9b5429618850e33.png

[2018-08-22 13:18] LartTyler commented on #76
Thanks for the heads up. I'll take a look, and let you know once this is resolved.

[2018-08-22 13:31] LartTyler commented on #76
So... it looks like when I changed data sources for 1.13.0, I failed to port over the image scraping code that was present in the armor scraper I built for Kiranico. I'm going to get started on building out a replacement, but it's not likely that it'll be done until later tonight, after I get off work. Sorry for the inconvenience, I'll keep you posted.

[2018-08-23 04:11] LartTyler commented on #76
This has been resolved in [v1.13.1](https://github.com/LartTyler/MHWDB-API/releases/tag/1.13.1).

[2018-08-23 04:11] #76 closed

[2018-08-23 04:11] #67 closed

[2018-08-29 14:45] LartTyler opened #81 "Missing sharpness values"
Both of the following weapons have no durability values (reported by @TanukiSharp):

- [Azure Star "Dragon Dance"](https://mhw-db.com/weapons?q={%22name%22:%22Azure%20Star%20\\%22Dragon%20Dance\\%22%22})
- [Sapphire Star Lance](https://mhw-db.com/weapons?q={%22name%22:%22Sapphire%20Star%20Lance%22})

[2018-08-29 14:50] TanukiSharp commented on #81
Thanks for filling the issue for me ;)

[2018-09-01 04:25] todc opened #82 "403 error for some weapon images"
Hi,

First, thanks so much for building and hosting this API. It's fantastic!

I've noticed a bunch of weapon images which are returning 403 errors. Looks like they're being hosted by S3, so maybe they're configured to expire after X days, and that's causing it?

Here are the affected weapon IDs and URLs:

[11](https://assets.mhw-db.com/weapons/great-sword/ef4937214b610b35b945bc4906f96181c600d0b0.

[2018-09-01 04:31] todc opened #83 "deviation/shellingType value discrepancies"
Hi again,

I noticed a few inconsistencies with some of the weapon data. They're not a big deal, but for the sake of consistency, it may be worth correcting.

ID: 1025
attributes.deviation = "Average" instead of "average"

ID: 1173
attributes.deviation = "High" instead of "high"

ID: 673
attributes.shellingType = "Normal LV2" instead of "Normal Lv2"

[2018-09-01 05:06] LartTyler commented on #82
Thanks for letting me know. S3 isn't configured to expire anything, but I think they may have failed to re-upload correctly during the last update. I'm going to push the images up to S3 again to see if it fixes it.

[2018-09-01 05:39] LartTyler commented on #82
@todc Should be resolved now.

[2018-09-01 05:39] #82 closed

[2018-09-01 05:59] todc commented on #82
Thanks @LartTyler!

I'm still seeing the same URLs at the /weapons endpoint, resulting in the same 403 errors. Maybe I'm getting a cached response though, so I'll take another look tomorrow.

[2018-09-01 18:11] LartTyler commented on #82
Damn. I just realized I forgot to clear Cloudflare's cache when I pushed that update out, that's probably why you were still seeing the same URLs. I just cleared it, to be on the safe side. Let me know if you're still having issues.

[2018-09-01 18:51] todc commented on #82
Yep, confirmed working now. Thanks much!

[2018-09-11 15:40] robertomarinas opened #85 "Armor list not updated"
Hi! First off, I would like to say good job on doing this API service! I'm currently building a hunter-helper, mobile-first web app, using your API. I'm currently focusing on building an Armor Loadout generator and having an updated resource is paramount. I tested the fetch armor endpoint and I can see that the latest armors are missing (Gamma Sets, Behemoth, etc..).

I know that this is a solo pr

[2018-09-11 15:55] LartTyler commented on #85
Hey! Glad you're enjoying the API. I'm aware of several resources being out of date (missing armor being one of them). The project originally relied on scraped data from Kiranico, which hasn't updated in a while. I'm currently working on getting away from relying on scraped data to populate the API, and once that's done I plan on going through everything and double checking that nothing is missing

[2018-09-11 17:56] robertomarinas commented on #85
I'd be happy to help! Let me know once you've setup everything.

[2019-02-23 03:52] vyong1 commented on #85
Hey, I'm willing to help too. I'm working on an app of my own and updated data would be great.

[2019-02-23 06:13] LartTyler commented on #85
It is! I haven't had as much time to work on it lately as I'd like, but I'm working on wrapping up a [contribution system](https://github.com/LartTyler/MHWDB-Contrib) to make it easier to manage data in the API. If you'd like to help with the contribution system itself, it would be much appreciated it. If you're interested in helping with data management once the contrib system is up, that's cool

[2019-04-11 19:32] LartTyler commented on #85
@robertomarinas @vyong1  If either of you are still interested in helping with the contribution stuff I mentioned, feel free to send an email to tyler@lartonoix.com so I can send an invite your way. I plan on rolling out the contribution system over the next couple of days, and any help with getting the API up to date would be greatly appreciated!

[2019-04-13 22:31] LartTyler commented on #81
After way too long, these have finally been fixed.

[2019-04-13 22:31] #81 closed

[2019-04-13 22:41] LartTyler commented on #66
Maintenance Jewel 1 has been added.

[2019-04-13 22:41] #66 closed

[2019-04-13 22:47] LartTyler commented on #83
Those three weapons have been corrected. With the new contribution system live, I'm gonna be going through all the objects in the API to look for other inconsistencies like this. Sorry for the delayed response, and thank you for bringing this to my attention!

[2019-04-13 22:47] #83 closed

[2019-07-01 21:08] Kiszaner opened #94 "Missing ElementType Stun"
I think the DB is missing an `ElementType`: stun. It appears in the DB as an `Ailment`, but I think it also should be an `ElementType`. It is the same case as `sleep` and `poison`.

[2019-07-01 21:57] Kiszaner opened #95 "Missing species from The Witcher collaboration"
In February 2019 Capcom did a collaboration with The Witcher III including a new species in the game. Should this species (and the corresponding monsters) be in the DB? I think the missions from the event are not longer playable, so I'm not sure if it "deserves" to be included.
Notice that without this species, monsters from that collaboration can't be included in the DB.

[2019-07-08 14:11] LartTyler commented on #95
Yeah, for the sake of completeness, it would be good to support the collab monsters.

[2019-07-08 14:12] LartTyler commented on #95
[This page](https://monsterhunterworld.wiki.fextralife.com/Leshen) labels the species as "Relict," do you know if that's accurate? I didn't participate in the Witcher collab at all, so I'm not sure.

[2019-07-08 14:18] LartTyler commented on #94
I know that some weapons can have paralysis as an element type, but are there any weapons that directly deal stun damage? I know that blunt damage can stun, for example, but as far as I'm aware, there aren't any weapons with stun as their element, at least not in the same way that a weapon might deal blast, sleep or paralysis damage.

[2019-07-09 15:44] Kiszaner commented on #94
I agree, maybe it's not an element type by itself, but the thing is that monsters have their own entry in the weaknesses table for stun. These entries are all element types, but currently the DB doesn’t reflect stun weakness at all, so that was the reason why I was considering stun like a sort of element type.
<img width="201" alt="Lavasioth ailments" src="https://user-images.githubusercontent.com

[2019-07-09 15:49] Kiszaner commented on #95
I didn’t play the collab, but that information seems accurate as in [The Witcher Wiki](https://witcher.fandom.com/wiki/Leshy#The_Witcher_3:_Wild_Hunt) the monster is under the same species name.

[2019-07-09 15:52] LartTyler commented on #94
Gotcha, that makes sense. I agree, at the very least, it should appear as an option for weaknesses.

[2019-07-09 15:53] LartTyler commented on #95
Sounds good. The MHW Wikia page confirms it as well, so that's what I'm gonna go with.

[2019-07-10 20:21] LartTyler commented on #95
This is resolved with [v1.15.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.15.0) of the API and [v1.2.0](https://github.com/LartTyler/MHWDB-Contrib/releases/tag/1.2.0) of the contrib system.

[2019-07-10 20:21] #95 closed

[2019-07-10 20:21] LartTyler commented on #94
This is resolved with [v1.15.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.15.0) of the API and [v1.2.0](https://github.com/LartTyler/MHWDB-Contrib/releases/tag/1.2.0) of the contrib system.

[2019-07-10 20:21] #94 closed

[2019-09-09 04:57] mingjunlu commented on #85
@LartTyler I would like to help with the data as well! I've just sent you an email 🙂

[2019-09-09 20:57] LartTyler opened #104 "Cannot add new armor via the contrib editor"
Reported by @mingjunlu:

See LartTyler/MHWDB-Contrib#17 for details.

[2019-09-09 21:09] #104 closed

[2019-10-27 09:24] mingjunlu commented on #85
**Master Rank Armors are up-to-date!** (Rajang's included)

Currently max defense values and required crafting materials are left empty because it will take a lot of time and effort to update. Also, please keep in mind that there may be human-errors such as typos since those data are manually entered.

Anyway, enjoy hunting and building things!

[2019-10-30 21:38] LartTyler commented on #85
@mingjunlu Awesome, I appreciate all your help :) I glanced over some of the additions, and it all looks good, but I'll set aside some time to give it a more detailed once-over.

[2019-10-31 00:55] DeveloperPaul123 opened #111 "Event Endpoint for Console Not Working"
Currently the [event](https://mhw-db.com/events) endpoint is not pulling any data for consoles. Could be due to change in structure for that page with the addition of master rank?

[2019-10-31 15:03] LartTyler commented on #111
It seems odd that adding a button to the top of the page would change their markup enough to break the scraper, but it's possible. Hopefully it'll be an easy fix, thanks for letting me know!

[2019-10-31 17:03] #111 closed

[2019-10-31 17:07] LartTyler commented on #111
This should be resolved with [v1.16.1](https://github.com/LartTyler/MHWDB-API/releases/tag/1.16.1). Looks like they fixed a typo in the `for` attribute of the timezone selector, which the scraper needed in order to determine timezone offsets. Since it couldn't determine the timezone, it couldn't scrape any of the data for console.

[2019-10-31 17:24] DeveloperPaul123 commented on #111
Yeah I saw your PR, glad it was an easy fix! Thanks for the prompt response.

[2019-11-25 08:16] pierretusseau commented on #85
Hello guys !

So, building a webapp based on this API I found some misplaced armor-type items, here is the list

### Low rank
**153** : Kirin Leg Guards => Shoudl be legs not gloves
### High rank
**602** : Kirin Leg Guards Alpha => Should be legs not gloves
**607** : Kirin Leg Guards Beta => Should be legs not gloves
**700** : Vaal Hazak Mail Gamma => Should be chest not head
**726** : Xeno'jiiva

[2019-11-25 09:10] mingjunlu commented on #85
@pierretusseau All fixed. Thanks for reporting this!

[2019-11-25 14:22] DeveloperPaul123 commented on #85
@pierretusseau Is your web app available yet?

[2019-11-25 18:13] pierretusseau commented on #85
@DeveloperPaul123 not yet, we're working on the CI/CD for a public distribution soonTM ;) ;)

Is there any known project using the API already ? I'm really curious

[2019-11-25 20:01] DeveloperPaul123 commented on #85
Sounds good, looking forward to seeing it.

I'm not sure of a list of projects using this api. I'm definitely tempted to make an android app using this api though.

[2019-11-25 22:14] pierretusseau commented on #85
I've seen you forked MHWorldDatabase, which is pretty cool btw. We focus mainly on Desktop browser right know. I'm kinda tired of HoneyHunter builder, which is cool but really old fashioned, and wish to build something in React. Feel free to visit the repo of tulpia if you wish :)
(probbly not the best place to talk about this, but I don't know where I could discuss this)

[2019-11-26 02:00] DeveloperPaul123 commented on #85
Thanks @pierretusseau!

Yeah I personally use Athena's armor set search and MHArmory to do set searching. I like this API however because if you build something arounnd it, it can easily be updated in the future without necessarily requiring that your web/mobile/desktop app be updated necessarily.

I'm sorry, but I'm not sure what you mean by "repo of tulpia", I couldn't find a repo on Github with

[2019-11-26 08:56] pierretusseau commented on #85
@DeveloperPaul123 oh I didn't know there was a windows application for it, nice insight.

I was talking about https://github.com/tulpia/fieldguide (wip obviously)

[2019-11-26 13:24] DeveloperPaul123 commented on #85
Yeah the windows apps are quite good actually for finding armor sets.

Nice, I'll keep an eye on that project.

[2019-11-29 10:34] tulpia opened #117 "Weapon list not up to date"
Hello !
First of all, great job with the API ! I've been using it for a personal project and it's really easy to use and consume.

I've noticed that the Kulve Taroth weapons are missing. I'm currently making a builder with your API and the KT weapons like the Kjaar or the Taroth Glutton HBG are really important and part of the current MHW meta (pre-Iceborne atleast) and they're missing from the we

[2019-12-01 19:04] Kiszaner commented on #117
I can pick this up, I will add those weapons into the DB as soon as possible. I will add more weapons from KV later.
I will keep you posted in this issue.

[2019-12-02 09:36] tulpia commented on #117
Thanks alot @Kiszaner  !

[2019-12-02 09:58] Kiszaner commented on #117
You are welcome!

I already added yesterday Taroth Glutton HBG data and all KV HBG rank 6, so check if it works as expected and let me know.
I saw also that there are quite a lot of KV weapons, so it will take some time to have them all in the DB :sweat_smile:

[2019-12-02 15:26] LartTyler opened #118 "Event parser does not handle time ranges that cross year boundries correctly"
**Example**: Console event [The Proving](http://mhw-db.com/events/1744) runs from Nov. 22 to Jan. 9, but the actual end date in the API is January of 2019, instead of 2020.

[2019-12-02 15:50] #118 closed

[2019-12-05 06:46] aShen-onei opened #123 "Can support other languages?"
Hello! Guys,this project is awesome! I like this project so much and have used it on my personal project.
   But i have some question, I am a chinese, when i use the api, I have to translate the res to the simplified chinese and the traditional chinese, so I want this project can support other languages like chinese.I want to set a PR but I'm sorry that I'm not goot at PHP 😭,I can translate this p

[2019-12-06 19:13] LartTyler commented on #123
This is definitely something that I'd like to support in the future. I'm going to add it to the backlog, with the goal of focusing on international support as soon as I have the time to devote to it. I'll post status updates to this thread, and will let you know when it's ready!

[2019-12-09 01:06] aShen-onei commented on #123
yeah,it sounds cool~if u need I translate,I will do my best!  I can translate it to the simplified chinese and  traditional chinese~

[2019-12-09 05:19] mingjunlu commented on #123
I can help with traditional Chinese translation as well 🙂

[2019-12-12 09:34] sziyan opened #124 "Empty field when query items with "+" in the item name"
Firstly, wonderful project. Kudos to your hard work.

When I tried to query the api with this: [Monster Bone +](https://mhw-db.com/items/?q={%22name%22:%22Monster%20Bone+%22}),  there are no results returned from the api.

However, I am able to query by id: [Monster Bone + ID](https://mhw-db.com/items/150), so the data does exist in the database.

Is the api query unable to search when there's a "

[2019-12-16 14:42] DeveloperPaul123 commented on #117
@Kiszaner I would suggest first adding the "meta" KT weapons. I would argue it's almost not necessary to add _all_ the KT weapons as many of them are never used.

[2019-12-16 14:45] DeveloperPaul123 opened #126 "Add Safi' Jiiva Weapons and Siege"
I wanted to open the discussion on how to add the Safi weapons. These may need some special treatment since their upgrade mechanics are a bit different than the other weapons.

Also it would be good to add the Safi' Jiiva siege to the event part of the API since this works similarly to the KT siege. Maybe this just requires updating the web scrapper that pulls event information?

[2019-12-16 14:59] Kiszaner commented on #117
Sure, could you please share the list of curent KT meta weapons? That would speed up the process a lot

[2019-12-16 15:15] tulpia commented on #117
@Kiszaner https://www.reddit.com/r/MonsterHunterWorld/comments/akdirc/all_viable_kulve_taroth_weapons/

https://www.reddit.com/r/MonsterHunterMeta/comments/arycmn/kulve_at_kulve_best_weapon_list/egrwc6n?utm_source=share&utm_medium=web2x
https://www.reddit.com/r/MonsterHunterMeta/comments/arycmn/kulve_at_kulve_best_weapon_list/egrwivz?utm_source=share&utm_medium=web2x

[2019-12-16 15:43] LartTyler commented on #124
My guess is that you're not URI encoding the `+` sign in your query. It should look [something like this](https://mhw-db.com/items/?q=%7B%22name%22:%22Monster%20Bone%2B%22%7D).

[2019-12-16 15:55] LartTyler commented on #126
I only have MHW on PC, so I don't really know much about how the Safi'Jiiva work. I'll do some digging, and get back to you on how best to support something like that.

As far as events go, none of the Iceborne events are currently in the API. The pages use the same HTML layout, so I should just be able to point the scraper at the new URL (with some minor tweaks to support new event types). I'll d

[2019-12-16 16:12] DeveloperPaul123 commented on #126
I see, didn't realize you were on PC. Overall Safi'Jiiva works similar to ATKT except the reward pool is is not as large and there is less RNG. I can explain here but not sure how much you would want to avoid spoilers?

[2019-12-16 18:14] LartTyler commented on #126
I don't mind spoilers, but it'd probably be easier for me to do some digging on Kiranico or one of the wikis. I'm going to get the Safi weapons added to the top of the backlog, after some of the easier stuff like adding the Iceborne events to the API.

[2019-12-16 19:56] DeveloperPaul123 commented on #126
Ok sounds good.

Overall, each weapon has 9 variants. One for each element/status except for HBG and LBG. They all have the same starting stats + sharpness and similar element/status values. If you decide the weapons can just be added as all the other weapons I can add them to the API.

Other than that, the unique "mechanic" are the awakened abilities. It would be cool to include these in the API

[2019-12-17 06:40] #124 closed

[2019-12-17 19:14] LartTyler commented on #123
I'd like to start working on planning this feature out in the near future. I'm not super familiar with the actual practice of localizing / translating an application, but I'd like to lay out what I'm currently thinking so I can get some feedback.

The cleanest way to do this, in my opinion, would be to add an optional [language tag](https://en.wikipedia.org/wiki/Language_localisation#Language_tags

[2019-12-17 23:02] LartTyler commented on #126
Safi'jiiva Siege events (and all Iceborne events) will now show up in the events API with [v1.17.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.17.0). Going to leave this issue open for continued discussion about supporting Safi'jiiva weapons.

[2019-12-18 01:24] aShen-onei commented on #123
In my opinion, simplified chinese are more used in Mainland China, traditional chinese are used both of Mainland China and HK or TW China,  but on PC, Mainland China player base is large, so I think more player would like to use simplified chinese, it's better to use "zh" for simplified chinese as defalut, "zh-TW" as traditional chinese, “zh-HK” is rarely used as traditional chinese tag,( e.g [htt

[2019-12-18 02:07] DeveloperPaul123 commented on #126
I went ahead and added Rajang to the API

[2019-12-18 03:44] mingjunlu commented on #123
Given that many web services now refer "zh" to Simplified Chinese, using "zh" to represent Traditional Chinese may cause some confusion. Therefore, I would go for "zh-CN" and "zh-TW". Or if you want to be more specific/accruate, you can use "zh-Hans" and "zh-Hant" (following [IETF BCP 47 language tag](https://tools.ietf.org/html/bcp47)).

"zh-HK" is relatively less used, like @aShen-onei says. Don

[2019-12-18 22:41] LartTyler commented on #123
If "zh" is usually used to refer to simplified Chinese, then I'm happy making that the fallback instead. It also sounds like "zh-Hans" and "zh-Hant" are what I was looking for, as opposed to the region codes. Thanks for linking that, it was incredibly helpful. Here's the revised list.

|Language|Script|Tag|
|---|---|---|
|English|&mdash;|`en`
|French|&mdash;|`fr`|
|German|&mdash;|`de`|
|Chinese|Tr

[2019-12-19 20:49] LartTyler commented on #123
Would it also be a good idea to include translations for enumerated values, like `weapon.type` or `armor.type`? I'm leaning towards no, since they're a defined list of values, and I don't believe it would be unreasonable to have application developers handle rendering the values to their users in the appropriate language. What do you guys think?

[2019-12-19 23:30] Kiszaner commented on #117
I'm following the first link and I already added LBG, HBG, longswords and dual blades, let me know if the values are as expected, specially sharpness values (I'm taking those from Kiranico)

[2019-12-20 01:17] aShen-onei commented on #123
I think....it's not a good idea (￣y▽￣)╭ Ohohoho.....always feel a bit out of step😄, guy u can use a url type like:
`https://mhw-db.com/zh-Hans/ailments`
`https://mhw-db.com/zh-Hans/armor/sets/<id>` or other Apis.
Also u use a query data:
`https://mhw-db.com/ailments?lang=zh-Hans`
`https://mhw-db.com/armor/sets/<id>?lang=zh-Hans`
Oh! I remember a Api website that I have used.Do u guys play warframe

[2019-12-20 14:35] DeveloperPaul123 commented on #85
I've also added all the armor from the event quests that just dropped. Only thing missing are the fully upgraded defense levels for them.

@LartTyler Is there anything else missing? Or can this issue be closed?

[2019-12-20 15:14] LartTyler commented on #117
@Kiszaner How'd you get the sharpness values you used from Kiranico? I went to go spot check some of the weapons, and they look slightly off. For example, the MHWG page for [Taroth Sword "Fire"](http://mhwg.org/ida/233196.html) lists the base white sharpness as 40, but the [sword in the API](https://contrib.mhw-db.com/objects/weapons/long-sword/1282) shows a base sharpness of 50. In the past, we'v

[2019-12-20 16:52] Kiszaner commented on #117
@LartTyler I'm getting the values inspecting Kiranico's web source code, as in each blade info there is a sharpness gauge representation with some widths/percentages for each color. Knowing that a total sum of 100 in those percentages equals to 400 in sharpness value, I can calculate which value should I assign to each color in the DB. This method works as I double checked it on other sources, but

[2019-12-20 18:56] LartTyler commented on #85
So I tried pulling a list of armor from Fextralife and comparing it against what's in the API, but I'm noticing a ton of errors on Fextralife (things like "Anja Vambraces Alpha +" being named "Anjanath Vambraces Alpha +" _and_ "Anja Vambraces +") that's making it impossible to quickly compare the lists. I think for now, it's safe to close the issue. We can always open a new one if we find armor th

[2019-12-20 18:56] #85 closed

[2019-12-23 02:58] mingjunlu commented on #123
I'm not familiar with localization, but it seems a little bit cumbersome to translate values like `weapon.type` and `armor.type`.

[2019-12-30 16:07] LartTyler commented on #117
Got it, that makes sense. Were you able to go back and fix those incorrect values? If not, I'm happy to hop in and start working through those.

[2020-01-28 02:44] DeveloperPaul123 opened #136 "Events in Contribution Site Not Up to Date"
I'm not sure if this is an issue with the contrib site itself or the API, but no Iceborne events are showing up under the `Events` section.

[2020-01-31 15:55] #136 closed

[2020-01-31 15:56] LartTyler commented on #136
This should be resolved with [v1.17.3](https://github.com/LartTyler/MHWDB-API/releases/tag/1.17.3).

[2020-01-31 18:21] DeveloperPaul123 commented on #136
Things seems to be working properly, thanks for the quick fix!

[2020-02-04 02:01] DeveloperPaul123 opened #138 "Add Item Rewards to Events"
I think it would be interesting to add a way to include item drops to events in the API. I'm not sure about the implementation details since the information is scraped, but special rewards could certainly be added via the contribution site.

This would make it easier to filter which events give special rewards which can then be linked to what those special items are used to craft.

[2020-02-04 03:50] DeveloperPaul123 opened #139 "Add Tempered Threat Level to Monsters"
Would be good to add tempered threat level to monsters.

[2020-02-04 22:38] LartTyler commented on #138
It would probably require a refactoring of how event data is stored. Since it's scraped, there's no persistent data between events. Each time range is its own object in the database, and none of the information is shared. Which means that even if it was possible to add extra information via the contrib site, it would be thrown away when the event cycle ends and would need to be re-added the next t

[2020-02-04 22:39] LartTyler commented on #139
Good idea, I'll add it to the backlog.

[2020-02-05 02:15] DeveloperPaul123 commented on #138
That seems like a good approach to me!

[2020-02-05 02:30] DeveloperPaul123 opened #140 "Add Buy Cost to Items"
Some items can be purchased in the game. This should be indicated in the API with a `cost` or similar field for the items that can be bought.

See [here](https://github.com/gatheringhallstudios/MHWorldData/blob/master/source_data/items/item_base.csv) for viable data set.

[2020-02-05 02:38] DeveloperPaul123 commented on #138
Actually, thinking through it a bit more, it might be better to add a `quests` endpoint and add the event quests there and give then an event type of `quest`.

[Here](https://github.com/gatheringhallstudios/MHWorldData/blob/master/source_data/decorations/decoration_base.csv) is a starter data set for MHW quests. This can also serve as a way to address other issues that have be filed regarding "ite

[2020-02-05 02:45] DeveloperPaul123 opened #141 "Add Monster Hitzone Values"
Would be good to have monster hitzone values in the API. I guess these could be added as another field of the `monster` endpoint.

See [here](https://github.com/gatheringhallstudios/MHWorldData/blob/master/source_data/monsters/monster_hitzones.csv) for a good starting point as well as [this](https://docs.google.com/spreadsheets/d/1ttUaWtw2aaBFpz3NUp6izr-FgtQHSYJA_CjJA-xuets/edit#gid=837252457&fvid

[2020-02-05 21:34] LartTyler commented on #141
Added to the backlog!

[2020-02-05 21:36] LartTyler commented on #140
Added to the backlog. Current plan is to split `Item.value` into `Item.buyPrice` and `Item.sellPrice`.

[2020-02-05 21:39] LartTyler commented on #138
I think I like that idea a lot more. I had planned on adding quests in the future anyway, and merging the two together would prevent a bunch of duplicate code.

[2020-02-05 21:41] LartTyler commented on #117
Since it looks like the sharpness values were corrected and the weapon list appears to be complete, I'm going to close this. If there are any other weapons missing, please open a new issue!

[2020-02-05 21:41] #117 closed

[2020-02-05 23:57] LartTyler commented on #123
Localization support has been added with [v1.18.0](https://github.com/LartTyler/MHWDB-API/releases/tag/1.18.0)! For those that were interested in helping with translations, the contribution site will now have a dropdown in the top right that will allow you to select which language you'd like to use to access the API. Since missing strings will show up as blanks in the contribution site, I'd sugges

[2020-02-06 14:41] DeveloperPaul123 commented on #50
Just to chime in on this, I would say that the modifiers for skills should be independent of the conditions that need to be met for that skill modifier to activate. The approach that makes the most sense to me is to add a `condition` array field that will hold a list of all the conditions that need to be met for the skill to activate. We can also add a `duration` field to indicate how long a modif

[2020-02-06 15:08] DeveloperPaul123 commented on #140
It would be also interesting to include the melding cost for items as seen [here](https://mhworld.kiranico.com/melder). Including this may require more thought on how to structure the information.

[2020-02-06 15:10] DeveloperPaul123 opened #143 "Add Droprates to Decorations"
Would be good to add feystone drop rates to all decorations. Since there's a fixed set of feystones, we can just have an object embedded in the decorations (maybe like `FeystoneDropRates`) and just include drop rates (in %) for each stone type.

[2020-02-06 15:12] LartTyler commented on #50
I like that idea. Only change I think I'd make is that the `activation` field should be an enumerated value instead of something free-form. Otherwise we'd need translations for each one, and handling translations on something like that would be harder to implement. Ideally, values could be things like `slide`, `enraged`, `blighted`, etc. Might need to be a longer list to include all possible condi

[2020-02-06 15:15] DeveloperPaul123 commented on #50
Good point, though that list will be pretty long I think, but it is still finite so definitely doable.

[2020-02-06 19:01] DeveloperPaul123 opened #144 "Add Guiding Land Locations to Monsters"
Would be good to add locations monsters can spawn in the Guiding Lands to the monster object. We can also include the spawn change for these based on the level of the guiding lands zone.

Given it's complexity, not sure if it makes sense to put this in the monster endpoint or make it a different endpoint.

[2020-02-07 00:43] DeveloperPaul123 opened #145 "Add Zones to Locations Endpoint with Item Droprates"
Would be good to have the area zones added to the locations endpoint and then also list out items that can be found in those zones (i.e. might seed, herbs, honey...).

[2020-02-10 15:16] LartTyler commented on #144
Definitely think this is a good idea. I'll add it to the backlog, though I'm not sure how to best add this information. I think a new endpoint might be the best option, but I'll have to think on it.

[2020-02-10 15:20] LartTyler commented on #145
Added to the backlog!

[2020-02-10 15:56] DeveloperPaul123 commented on #144
I think it depends on what information you want to include. I think it would be good to include:
* Collectibles (i.e. bones/ores and drop rates) this info can also be added to the other locations so it would make sense to leave this in the `locations` end point
* Monster spawn rate: I think you could make this a sub object inside the monster endpoint. Basically a `guiding_lands_spawns` that contai

[2020-02-12 13:20] DeveloperPaul123 opened #151 "Add Guiding Lands Reward Type for Monsters"
In the monster rewards section, we can already differentiate between high/low/master rank rewards. It would be good however to also add guiding lands rewards. This would basically be the shinies a monster drops in the guiding lands both in its normal form and in it's tempered form (if applicable).

Could this maybe be a new [`Reward Condition Type`](https://docs.mhw-db.com/#reward-condition-types)

[2020-02-17 22:32] DeveloperPaul123 opened #153 "Add Sub-types to Items"
Would be nice if items had sub-categories like `items` or `consumables`, `materials`, `ammo` and maybe a catch all of `miscellaneous`.

There are _a lot_ of items in the game and some sort of sub-division would be nice to have.

[2020-02-19 13:39] DeveloperPaul123 opened #154 "Add Layered Armor to API"
Would be good to add layered armor "sets" to the API.

Not sure if it makes sense to add this to the existing endpoints since the individual pieces of layered armor are not craftable (you have to craft the whole set).

[2020-02-23 19:57] DeveloperPaul123 opened #155 "Insect Glavie Boost Types are Inconsistent"
According to the documentation, the types of boost for insect glaive should be one of the following:

`sever`
`speed`
`element`
`health`
`stamina`
`blunt`

However, the API is currently also returning `Blunt Boost` as a `boostType` on some Weapons.

[2020-02-23 21:06] DeveloperPaul123 commented on #155
I was able to resolve this by fixing the data. It seems there was only 1 insect glaive returning this unique boost type.

[2020-02-23 21:06] #155 closed

[2020-02-25 04:48] DeveloperPaul123 opened #156 "Inconsistent Skill Modifiers"
Some of the skill modifiers (especially the elemental damage ones such as `damageFire`, `damageIce` and so on) have inconsistent types in the API (`int` and `String`).

This is due to some of the values being just integer numbers or something like `100+5%`. While this may technically be accurate information, it pain points while parsing.

I think it would make sense to add new fields to the `Skill

[2020-03-02 13:24] LartTyler commented on #151
Added to the backlog!

[2020-03-02 13:25] LartTyler commented on #153
Added to the backlog.

[2020-03-02 13:26] LartTyler commented on #154
Added to the backlog.

[2020-03-02 13:30] LartTyler commented on #156
Yeah, that's an ugly hold-over from when the data was being scraped from Kiranico / MH Wiki. I'm putting this in the backlog for either the next release or the release after next, since like you said, it makes parsing that field more difficult than it should be.

[2020-03-02 13:41] DeveloperPaul123 commented on #156
Sounds good!

What approach are you going to take to add that information? New fields in the `SkillModifier` class?

[2020-03-02 14:43] LartTyler commented on #156
I'm probably just gonna add `percentDamageXYZ` fields, yeah. At some point, I'd like to completely refactor how the `modifiers` field is stored and represented in the API, but I think that's gonna be a bit too much work to try and fit into this next release.

[2020-03-02 14:55] DeveloperPaul123 commented on #156
Ok sounds good to me 👍

[2020-03-07 16:16] neyb opened #157 "translation seems broken"
hi !

Absolutly every translation (except english default) seems to work.

everything is "null"

exemple from the doc (in translation part) : https://mhw-db.com/zh-Hant/weapons/1.

in there, every name are nulls.

[2020-03-07 23:01] LartTyler commented on #157
@neyb At the moment, the data in the API is dependent on user-entered data via the contrib site, sorta like a wiki. Translations were added somewhat recently, and I believe @aShen-onei and @mingjunlu were working on getting things translated when they have the time to. If you're interested in helping out, I'd be happy to send an invite your way.

[2020-03-08 00:55] mingjunlu commented on #123
Thanks for your great work!

When editing an item (e.g., an armor, a skill, etc.), is it possible to show the original text in English? Like, is it possible to make the original text in English as the placeholder? Without a reference to the original text, It would be really painful to work on the translation. Jumping back and forth or opening multiple pages at the same time significantly slows me

[2020-03-08 00:57] mingjunlu commented on #157
@neyb Really need some help here 🙏

[2020-03-08 08:24] neyb commented on #157
If you want, [I've written a kotlin app to extract data from mhw.db](https://github.com/neyb/armor-hunter/tree/master/data). Feel free to use it.

[2020-03-09 01:27] aShen-onei commented on #157
@neyb Recently was very busy, I am busy on job and my friends busy on graduation thesis, I will continue to translate after thing are busy.

[2020-03-09 11:43] LartTyler commented on #123
That... is a very good point. I honestly hadn't really considered that when I was putting things together. Sorry about that.

As far as the defaulting to English for missing values, do you think that makes sense only in the context of the contrib site? Or do you think that behavior should also be present in the API itself, in that string fields without values fall back on their English counterpart

[2020-03-09 12:10] mingjunlu commented on #123
In my humble opinion, the second approach (returning untranslated string fields) might be slightly friendlier to users. If I were a newcomer and had neither read the docs nor followed the issues before, I would not know that the translation is ongoing. As a result, once I saw the `null` values returned from the API, I might think that the server or API is not functioning at all. In contrast, if un

[2020-03-09 12:24] LartTyler commented on #123
Which is basically what happened in #157. That's what I was leaning towards as well, but I wanted a second opinion before jumping straight to that.

To keep things simple on the backend, and to avoid having to load both translations for every request in case any field is `null`, I think what I'll do is default to English if there are _no_ strings for the selected language. So for things that haven

[2020-03-20 18:53] hamorim opened #159 "[Question] Rewards from monsters"
First thanks for the great job.

How can I find Rewards from Monsters?

Trying with `/monsters` but just fewer of than returns data

[2020-03-20 20:22] DeveloperPaul123 commented on #159
As listed in the [docs](https://docs.mhw-db.com/#monster-fields), rewards _are_ part of the `monsters` endpoint, but unfortunately, there's quite a bit of data missing.

I'm working on contributing monster rewards and have a bunch of data in hand, just need to contribute it to the API. Should be soon though.

[2020-03-20 20:31] hamorim commented on #159
Can I help somehow?

[2020-03-20 21:08] DeveloperPaul123 commented on #159
If you want to contribute data in general I would ping @LartTyler. It would probably also be good to join the [Discord](https://discord.gg/dsxmhB) for further discussion.

[2020-03-26 00:32] DeveloperPaul123 commented on #156
Any updates on this? This is still a bit of a pain point.

[2020-04-02 02:28] pbalzano91 opened #163 "[Question] How to query for all armors with X set of skills"
Let's say I want to grab all armor pieces (from /armor endpoint) which contain a set of skills.

How can I achieve that? [$all](https://docs.mongodb.com/manual/reference/operator/query/all/) mongo operator over "skills.skillName" would suffice but it's not available.

Thanks!

[2020-04-16 19:46] pbalzano91 commented on #163
@LartTyler any insight on this?

[2020-04-16 19:51] LartTyler commented on #163
Sorry for the slow response. Unfortunately, that isn't gonna be doable with API queries alone. What you'll probably want to do is something like this:

[code]

That'll return any armor with at _least_ two skills attached to it, and that also has one or both of skills with ID 1 and 2. Then you'd need to filter the results down in your application to only those that have both the skills you're looki

[2020-04-17 19:48] pbalzano91 commented on #163
Awesome, I’ll give that a try. Thank you very much for your answer and thank you for this great API 🙂. Keep it up!

[2020-04-17 19:48] #163 closed

[2020-05-15 23:07] ptsouchlos opened #165 "[SUGGESTION] Add Unique Identifiers to Charm Ranks"
Currently in the API, skill ranks have unique identifiers provided by the API. Is there any reason for charm ranks to have also have unique identifiers?

[2020-05-18 19:36] LartTyler commented on #165
They do actually have IDs internally, they just aren't exposed in the result sets. That's a holdover from when the data was scraped from Kiranico and the ranks set had to be rebuilt with each scrape, meaning the IDs weren't stable between scrapes. Since we've moved away from that and the IDs are (relatively) stable now, that's definitely something I can add back in.

[2020-05-18 21:02] ptsouchlos commented on #165
This would be extremely helpful for me if it's possible to add the ids back in. 👍

[2020-05-26 08:07] VinsGecko opened #166 "Missing monsters"
@LartTyler, are you going to add Iceborn monsters in the API ? (Fulgur Anjanath, Banbaro, Barioth, ...)

[2020-05-26 13:14] ptsouchlos commented on #166
Sorry I didn't get back to your other comment @VinsGecko. Monster data addition should be coming soon. I've been helping the guys at GatheringHallStudios with the `MHWData` project and it seems that it's now in a state where the IB data is complete. My plan is to pull from this data.

[2020-05-26 16:45] VinsGecko commented on #166
@DeveloperPaul123 thanks for your reply 😉

[2020-08-19 17:35] Xemiru opened #167 "More flexibility with array query operators"
As an example of what does work, you can easily filter through items when your target is a single field inside an array **object** element -- [here's a query that asks for all armor pieces with at least one rank 4 decoration slot](https://mhw-db.com/armor?q={%22slots.rank%22:%204}&p={%22slots.rank%22:%20true}).
[code]

### Can't ask much about fields holding arrays of non-object values
Here's a fe